<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cake.Common" version="0.13.0" targetFramework="net45" developmentDependency="true" />
  <package id="Cake.Core" version="0.13.0" targetFramework="net45" />
  <package id="Cake.XdtTransform" version="0.9.11" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
</packages>